<!doctype html>
<html ng-app>
<head>
<script src="http://ngnice.com/lib/angular/1.2.16/angular.js"></script></script>
</head>
<body>
 <div>
   <label>Name:</label>
   <input type="text" ng-model="yourName" placeholder="Enter a name here">
   <hr>
   <h1>Hello {{yourName}}!</h1>
 </div>
</body>
</html>

