<!doctype html>
 <html ng-app>
 <head>
     <script src="http://ngnice.com/lib/angular/1.2.16/angular.js"></script>
 </head>
 <body>
     <div ng-controller="testCtrl">
         <label>Name:</label>
         <input type="text" ng-model="yourName" placeholder="Enter a name here">
         <button ng-click="clearInputValue()">Clear Input Value</button>
         <hr>
         <h1>Hello {{yourName}}!</h1>

     </div>
     <script>
         function testCtrl($scope) {
             $scope.yourName = "world";
             $scope.clearInputValue = function () {
                 $scope.yourName = "";
             }
         }
     </script>
 </body>
</html>
